@model ProductViewModel 


@* <form action="/product/save" method="post"> *@
@*     <label>Product Id</label> *@
@*     <input type="text" name="ProductId"/> *@
@*     <br/> *@
@*     <label>Product Code</label> *@
@*     <input type="text" name="ProductCode"/> *@
@*     <br/> *@
@*     <label>Product Name</label> *@
@*     <input type="text" name="ProductName"/> *@
@*     <br/> *@
@*     <label>Product Price</label> *@
@*     <input type="text" name="Price"/> *@
@*     <br/> *@
@*     <input type="submit" value="Save Product"/> *@
@* </form> *@
<div class="row">
    <div class="col-lg-6">
        @using (Html.BeginForm("save", "product", FormMethod.Post))
        {
            @*<div class="form-group">
            @Html.LabelFor(x=>x.ProductId)
            @Html.TextBoxFor(x=>x.ProductId,"", new {@class = "form-control"})
        </div>
   
        <div class="form-group">
            @Html.LabelFor(x=>x.ProductCode)
            @Html.TextBoxFor(x=>x.ProductCode, "", new {@class = "form-control"})
        </div>
         <div class="form-group">
            @Html.LabelFor(x=>x.ProductName)
            @Html.TextBoxFor(x=>x.ProductName, "", new {@class = "form-control"})
        </div>
         <div class="form-group" >
            @Html.LabelFor(x=>x.Price)
            @Html.TextBoxFor(x=>x.Price, "", new {@class = "form-control"})
        </div>*@
            @*@Html.EditorForModel()*@
        
        <input class="btn btn-primary btn-success" type="submit" value="Save Product"/>
        } 
    </div>
    <div class="col-lg-6" style="height: 300px; background-color: #0dcaf0">

    </div>
</div>

