@model ProductViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div><label>ProductId: @Model.ProductId</label></div>
    <div><label>Product Name: @Model.ProductName</label></div>
    <div><label>Product Description: @Model.ProductCode</label></div>
    <div><label>Product Price: @Model.Price</label></div>
</body>
</html>
