@model IEnumerable<ProductViewModel>

@{
    Layout = "_MyLayout";
}


<a asp-action="Create" asp-controller="Product" class="btn btn-dark">Go Back</a>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Product Code</th>
        <th>Product Price</th>
            <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.ProductCode</td>
            <td>@item.Price</td>
                <td>
                    <a asp-action="EditProduct" title="Edit Product" class="btn btn-outline-primary" asp-controller="Product" asp-route-productId="@item.ProductId" onclick="return confirm('Do you wish to edit the product');">Edit</a>
                </td>
            <td>
                <a asp-action="DeleteProduct" title="Delete Product" class="btn btn-danger" asp-controller="Product" asp-route-productId="@item.ProductId" onclick="return confirm('Do you wish to delete the product');">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>